@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", sans-serif;
}

:root {
  --header-color: #c73232;
  --nav-txt: white;
  --nav-txt-hover-bg: #aa0101;

  --btn-bg: #e74c3c;
  --btn-bg-hover: #c0392b;
  
  --text-heading: #2c3e50;
  --text-paragraph: #34495e;

  --shadow-color: rgba(0, 0, 0, 0.1);

  --social-icon-color: #ffffff;
  --intro-txt:white;
}

body{
  background-image: url("img/How-Chitkara-University-Set.jpg");
  background-size:cover;
 
}

header {
  background-color: var(--header-color);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: var(--nav-txt);
  font-size: 10px;
  text-align: center;
  transition: color 0.3s ease;
  padding: 5px;
}

nav a:hover {
  background-color: var(--nav-txt-hover-bg);
}

.social-nav {
  display: flex;
  gap: 10px;
}

.social-nav i {
  color: var(--social-icon-color);
  font-size: 18px;
  transition: transform 0.3s ease;
}

.social-nav i:hover {
  transform: scale(1.1);
}
.intro-right{
  display: flex;
  justify-content: right;
}
.intro {
  color: var(--intro-txt);
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  margin-top: 30px;
}

.intro p {
  margin-top: 5px;
  font-size: 0.7rem;
  padding: 10px;
}

.intro a {
  text-decoration: none;
  color: var(--nav-txt);
  background-color: var(--header-color);
  padding: 5px;
  border-radius: 8px;
}
